* amadeusz.szymko.2@tier4.jp

.devcontainer/ amadeusz.szymko.2@tier4.jp
.github/ amadeusz.szymko.2@tier4.jp
.vscode/ amadeusz.szymko.2@tier4.jp
ansible/ amadeusz.szymko.2@tier4.jp
autoware_ml/ amadeusz.szymko.2@tier4.jp
docker/ amadeusz.szymko.2@tier4.jp
docs/ amadeusz.szymko.2@tier4.jp
